{% extends "journal/base.html" %}

{% block link %} action="{% url "journal:attendance" %}" {% endblock %}

{% block working_area %}
    <script>
        document.getElementById("nav-attendance").classList.add("active");

        let prepareAttendance = (cell) => {
            const newValue = cell._cell.value;
            const student_position = table.getRowPosition(cell._cell.row, false);
            const lesson_id = cell.getColumn().getField();
            const formData = new FormData();
            formData.append('newValue', newValue);
            formData.append('student_position', student_position);
            formData.append('lesson_id', lesson_id);
            const csrftoken = document.cookie.replace(/(?:(?:^|.*;\s*)csrftoken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            const headers = {"X-CSRFToken": csrftoken};
            const body = formData;
            return {headers, body};
        };

        let tabledata = []
        {% for ss in studying_students %}
            tabledata.push(
                {
                    "num": {{ forloop.counter}},
                    "student": "{{ ss.student.journal_name }}"
                }
            )
        {%  endfor %}

        let table = new Tabulator("#example-table", {
            height: "85vh",
            data: tabledata,
            layout: "fitData",
            columns: [
                {title: "№", field: "num", sorter: "number", hozAlign: "center", frozen: true},
                {title: "ФИО", field: "student", sorter: "string", frozen: true},
            ]
        });

        let curr_row;
        {% for row in attendance %}
            curr_row = tabledata[{{ forloop.counter0 }}];
            {% for k,v in row.items %}
                curr_row["{{ k }}"] = "{{ v }}";
            {% endfor %}
        {% endfor %}

        {%  for lesson in lessons %}
            table.addColumn({
                title: "{{ lesson.abbreviation }}<br>{{ lesson.date_fact|date:"d.m" }}",
                field: "{{ lesson.id }}",
                hozAlign: "center", headerSort: false,
                formatter: (cell, formatterParams, onRendered) => {
                    value = cell.getValue();
                    if (value === undefined)
                        cell.getElement().style.backgroundColor = "gray";
                    else if (value === "+") {
                        cell.getElement().style.color = "green";
                        cell.getElement().style.fontWeight = "bold";
                    } else if (value === "н") {
                        cell.getElement().style.color = "red";
                        cell.getElement().style.fontWeight = "bold";
                    } else if (value === "оп") {
                        cell.getElement().style.color = "purple";
                        cell.getElement().style.fontWeight = "bold";
                    } else if (value === "н(у)") {
                        cell.getElement().style.color = "blue";
                        cell.getElement().style.fontWeight = "bold";
                    }
                    return cell.getValue();
                },
                cellClick: async (e, cell) => {
                    if (!e.ctrlKey) return;
                    if (cell.getValue() === undefined) return;
                    switch (cell.getValue()) {
                        case "":
                            cell.setValue("+");
                            break;
                        case "+":
                            cell.setValue("н");
                            break;
                        case "н":
                            cell.setValue("оп");
                            break;
                        case "оп":
                            cell.setValue("н(у)");
                            break;
                        case "н(у)":
                            cell.setValue("");
                            break;
                    }
                    res = prepareAttendance(cell);
                    let response = await fetch("{% url "journal:change_attendance" %}", {
                        method: "POST", credentials: 'include', headers: res["headers"],
                        body: res["body"]
                    });
                }
            })
        {%  endfor %}
    </script>
{% endblock %}