{% extends "journal/base.html" %}

{% block link %} action="{% url "journal:lessons" %}" {% endblock %}


{% block working_area %}
    <script>
        document.getElementById("nav-lessons").classList.add("active")

        let tabledata = [
            {% for lesson in lessons %}
                {
                    num: {{ forloop.counter }},
                    date_plan: "{{ lesson.date_plan|date:"Y-m-d" }}",
                    date_fact: "{{ lesson.date_fact|date:"Y-m-d" }}",
                    topic: "{{ lesson.topic }}",
                    abbreviation: "{{ lesson.abbreviation }}",
                    lesson_kind: "{{ lesson.lesson_kind }}",
                    comments: "{{ lesson.comments }}",
                    lesson_coef: "{{ lesson.lesson_coef }}",
                },
            {% endfor %}
        ];

        let table = new Tabulator("#example-table", {
            data: tabledata,
            layout: "fitData",
            groupBy: "lesson_kind",
            columns: [
                {title: "№", field: "num", sorter: "number",},
                {
                    title: "Вид", field: "lesson_kind", sorter: "string", editor: false, hozAlign: "center",
                },
                {
                    title: "Сокр.", field: "abbreviation", sorter: "string", editor: true, hozAlign: "center",
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_lessons" "abbreviation" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Дата (план)", field: "date_plan", sorter: "date", editor: false, hozAlign: "center",
                    sorterParams: {
                        format: "YYYY-MM-DD", alignEmptyValues: "top",
                        formatter: "datetime", formatterParams: {
                            inputFormat: "YYYY-MM-DD",
                            outputFormat: "YYYY-MM-DD",
                            invalidPlaceholder: "(invalid date)"
                        }
                    }
                },
                {
                    title: "Дата (факт)", field: "date_fact", sorter: "date", editor: dateEditor, hozAlign: "center",
                    sorterParams: {
                        format: "YYYY-MM-DD", alignEmptyValues: "top",
                        formatter: "datetime", formatterParams: {
                            inputFormat: "YYYY-MM-DD",
                            outputFormat: "YYYY-MM-DD",
                            invalidPlaceholder: "(invalid date)"
                        }
                    },
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_lessons" "date_fact" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Тема", field: "topic", sorter: "string", editor: true,
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_lessons" "topic" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Комментарии", field: "comments", sorter: "string", editor: true,
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_lessons" "comments" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Коэф.", field: "lesson_coef", sorter: "number", editor: true, hozAlign: "center",
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_lessons" "lesson_coef" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
            ],
        });
    </script>



{% endblock %}

