{% extends "journal/base.html" %}

{% block link %} action="{% url "journal:tasks" %}" {% endblock %}

{% block working_area %}
    <script>
        document.getElementById("nav-tasks").classList.add("active")

        let tabledata = [
            {% for task in tasks %}
                {
                    num: {{ forloop.counter }},
                    deadline: "{{ task.deadline|date:"Y-m-d" }}",
                    topic: "{{ task.topic }}",
                    abbreviation: "{{ task.abbreviation }}",
                    task_kind: "{{ task.task_kind }}",
                    comments: "{{ task.comments }}",
                    task_coef: "{{ task.task_coef }}",
                },
            {% endfor %}
        ];

        let table = new Tabulator("#example-table", {
            data: tabledata,
            layout: "fitData",
            groupBy: "task_kind",
            columns: [
                //{title: "№", field: "num", sorter: "number",},
                /*{
                    title: "Вид", field: "task_kind", sorter: "string", editor: false, hozAlign: "center",
                },*/
                {
                    title: "Сокр.", field: "abbreviation", sorter: "string", editor: true, hozAlign: "center",
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_tasks" "abbreviation" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Дедлайн", field: "deadline", sorter: "date", editor: dateEditor, hozAlign: "center",
                    sorterParams: {
                        format: "YYYY-MM-DD", alignEmptyValues: "top",
                        formatter: "datetime", formatterParams: {
                            inputFormat: "YYYY-MM-DD",
                            outputFormat: "YYYY-MM-DD",
                            invalidPlaceholder: "(invalid date)"
                        }
                    },
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_tasks" "deadline" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Тема", field: "topic", sorter: "string", editor: true,
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_tasks" "topic" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Комментарии", field: "comments", sorter: "string", editor: true,
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_tasks" "comments" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
                {
                    title: "Коэф.", field: "task_coef", sorter: "number", editor: true, hozAlign: "center",
                    cellEdited: async function (cell) {
                        res = prepare(cell)
                        let response = await fetch("{% url "journal:change_tasks" "task_coef" %}", {
                            method: "POST", credentials: 'include', headers: res["headers"],
                            body: res["body"]
                        })
                    },
                },
            ],
        });
    </script>
{% endblock %}

